<lto-content-section>
  <div class="img-box">
    <img src="assets/bridge.png" alt="" />
  </div>
  <mat-card>
    <mat-card-title>
      Token Bridge
    </mat-card-title>
    <mat-card-content>
      <div class="text-box">
        <p>Welcome to the LTO Network Token Bridge.</p>
        <p>Next the (<span class="purple">MAINNET</span>) tokens LTO Network has two trading tokens LTO Network (<span class="blue">ERC-20</span>) and LTO Network (<span class="yellow">BINANCE</span>) tokens</p>
        <p>Here you can switch from LTO Network (<span class="purple">MAINNET</span>) to  LTO Network (<span class="blue">ERC-20</span>) or LTO Network (<span class="yellow">BINANCE</span>) tokens and visa versa.</p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary" (click)="showSwpaDialog()">Let's get started</button>
    </mat-card-actions>
  </mat-card>
</lto-content-section>
