mat-card-title {
  text-align: center;
  color: #3d5170;
  font-weight: 500 !important;
}

mat-card-content {
  text-align: center;
  padding: 24px;
  box-sizing: border-box;
}

mat-card-actions {
  text-align: center;
  padding: 42px !important;
}

.text-box {
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
  font-size: 16px;
}

.img-box {
  text-align: center;
  padding: 42px 0;

  img {
    width: 230px;
  }
}
