<lto-content-section>
  <div class="img-box">
    <img src="assets/bridge.png" alt="" />
  </div>
  <mat-card>
    <mat-card-title>
      Token Bridge
    </mat-card-title>
    <mat-card-content>
      <div class="text-box">
        <p>Welcome to the LTO Network Token Bridge.
          On this page it’s possible to switch from LTO Network (ERC-20) to LTO Network (Mainnet) tokens and vice
          versa.</p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary" (click)="showSwpaDialog()">Let's get started</button>
    </mat-card-actions>
  </mat-card>
</lto-content-section>
