.login-form {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 440px;
  padding-top: 64px;
  padding-bottom: 24px;
}

h1 {
  margin-bottom: 38px;
  font-weight: 500;
}

p {
  font-size: 24px;
  margin-bottom: 32px;
}

mat-list {
  border: 1px solid #becad6;
  border-radius: 8px;
  padding: 0;

  mat-list-item {
    border-bottom: 1px solid #becad6;
    text-align-last: left;
    cursor: pointer;

    &:last-child {
      border-bottom: none;
    }

    h4 {
      font-size: 18px;
    }

    p {
      font-weight: 300;
    }

    .delete-account {
      color: rgba(0, 0, 0, 0.32);

      &:hover {
        color: rgba(0, 0, 0, 0.87);
      }
    }
  }
}

.password-input {
  margin-top: 48px;
  margin-bottom: 32px;

  mat-form-field {
    display: block;
  }
}

.buttons {
  border-top: 1px solid #becad6;
  padding: 32px 0;

  .inner {
    margin: 0 auto;
    width: 100%;
    max-width: 436px;
  }
  
  .inner + .inner {
    margin-top: 16px;
  }
}

