<mat-sidenav-container [hasBackdrop]="false">
  <mat-sidenav #sidenav [opened]="detailsOpened" [mode]="'side'" position="end">
    <lto-transaction-details
      (close)="select(null)"
      [transaction]="selectedTransaction"
    ></lto-transaction-details>
  </mat-sidenav>
  <mat-sidenav-content>
    <lto-content-section title="Transfers" subtitle="">
      <div class="balance" fxLayout="row" fxLayout.lt-md="column" *ngIf="(balance$ | async) as balance" fxLayoutGap="24px">
        <mat-card fxFlex="1 1 20" fxLayout="column" fxLayoutAlign="center center">
          <div class="label">Balance</div>
          <div class="value" matTooltip="{{ balance.regular | amountDivide }}">{{ balance.regular | amountDivide | number: '1.0-3' }}</div>
        </mat-card>

        <mat-card fxFlex="1 1 20" fxLayout="column" fxHide.lt-md fxLayoutAlign="center center">
          <div class="label">Leasing</div>
          <div class="value" matTooltip="{{ balance.leasing | amountDivide }}">{{ balance.leasing | amountDivide | number: '1.0-3' }}</div>
        </mat-card>

        <mat-card fxFlex="1 1 20" fxLayout="column" fxHide.lt-md fxLayoutAlign="center center">
          <div class="label">Unbonding</div>
          <div class="value" matTooltip="{{ balance.unbonding | amountDivide }}">{{ balance.unbonding | amountDivide | number: '1.0-3' }}</div>
        </mat-card>

        <mat-card fxFlex="1 1 20" fxLayout="column" fxHide.lt-md fxLayoutAlign="center center">
          <div class="label">Available</div>
          <div class="value" matTooltip="{{ balance.available | amountDivide }}">{{ balance.available | amountDivide | number: '1.0-3' }}</div>
        </mat-card>

        <mat-card fxFlex="1 1 20" fxLayout="column" fxHide.lt-md fxLayoutAlign="center center">
          <div class="label">Number of transactions</div>
          <div class="value">{{ (transfers$ | async)?.total }}</div>
        </mat-card>
      </div>
      <mat-card fxLayout="column">
        <mat-card-title fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
          <span fxFlex="1 1 auto">Transactions</span>
          <button mat-flat-button color="primary" (click)="makeTransaction()">Send</button>
        </mat-card-title>
        <mat-card-content fxFlex="1 1 auto">
          <ng-container *ngIf="(transfers$ | async) as transfersPage; else loadingTpl">
            <lto-transactions-list
              [transactions]="transfersPage.items"
              [address]="address$ | async"
              (transactionClick)="select($event)"
              [selectedId]="selectedTransaction?.id"
            ></lto-transactions-list>
          </ng-container>
        </mat-card-content>
      </mat-card>
    </lto-content-section>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #loadingTpl> <lto-loading-spinner></lto-loading-spinner> </ng-template>
<ng-template #emptyTpl> <h2 class="empty">There are no transactions</h2> </ng-template>
