:host {
  display: block;
  padding-bottom: 64px;
}

mat-sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.empty {
  text-align: center;
  padding: 50px;
}

.balance {
  min-height: 150px;
  margin-bottom: 24px;
  mat-card {
    padding: 24px;
    .label {
      color: #818ea3;
      font-size: 12px;
      text-align: center;
    }

    .value {
      color: #3d5170;
      font-size: 24px;
      font-weight: bold;
    }
  }
}
