:host {
  display: block;
  width: 500px;
}

mat-form-field {
  display: block;
}

.warning {
  border: 1px dashed red;
  padding: 16px;
  box-sizing: border-box;
  color: red;
  font-size: 14px;
}

pre {
  border: 1px solid #ebebeb;
  padding: 0 16px;
  box-sizing: border-box;
  background: #fbf9f9;
  border-radius: 4px;
  min-height: 215px;
  overflow-x: scroll;
}
