<p>Account will be stored localy on your device</p>
<form [formGroup]="form" fxLayout="column">
  <mat-form-field>
    <mat-label>Account name</mat-label>
    <input type="text" matInput formControlName="accountName" required />
  </mat-form-field>
  <mat-form-field
    ><mat-label>Password</mat-label
    ><input type="password" matInput formControlName="password" required
  /></mat-form-field>
  <mat-form-field
    ><mat-label>Confirm password</mat-label
    ><input type="password" matInput formControlName="confirmation" required
  /></mat-form-field>
</form>
