:host {
  display: block;
  width: 500px;
}

mat-dialog-content {
  text-align: center;

  h3 {
    font-weight: 600;
  }
}

.page-1 {
  padding: 8px 0;
  .token-logos {
    .logo {
      padding: 16px;
      border: 1px solid #ebebeb;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 60px;
        margin-bottom: 16px;
      }
    }
  }

  .input-container {
    padding: 32px 0;
    mat-form-field {
      width: 430px;
    }
  }

  .button-box {
    padding-top: 32px;
    text-align: center;
  }
}

.page-2 {
  .address-box {
    padding-top: 16px;
    lto-copyable-text {
      width: 100%;
    }
  }
  .button-box {
    padding-top: 32px;
    text-align: center;
  }
}

.page-3 {
  img.swap {
    width: 290px;
  }

  h2 {
    margin-top: 32px;
  }

  p {
    margin-top: 32px;

    margin-bottom: 64px;
  }
}
