:host {
  display: block;
}

mat-toolbar {
  background: rgb(23, 5, 75);
}

.account-button {
  color: rgba(255, 255, 255, 0.8);

  .user-icon {
    margin-right: 10px;
  }
}

.menu-button {
  margin-right: 16px;
}

.address {
  font-size: 16px;
  font-weight: 300;
  max-width: calc(100vw - 200px);
  overflow: hidden;
  text-overflow: ellipsis;
}
@media only screen and (max-width: 550px) {
  .hide-small-screen {
    display: none !important;
  }
}
