<mat-toolbar class="mat-elevation-z1" fxLayout="row">
  <lto-brand *ngIf="(authenticated$ | async) !== true"></lto-brand>
  <span fxFlex="1 1 auto"></span>
  <div fxLayout="row" fxLayoutGap="8px" *ngIf="(authenticated$ | async) !== true">
    <a mat-button routerLink="/signin">Sign in</a>
    <a mat-button routerLink="create-account">Create Account</a>
    <a mat-button routerLink="import-account">Import Account</a>
  </div>
  <div *ngIf="(userAccount$ | async) as account">
    <button
      mat-button
      fxLayout="row"
      fxLayoutAlign="start center"
      class="account-button"
      [matMenuTriggerFor]="appMenu"
    >
      <mat-icon class="user-icon">account_box</mat-icon>
      <span>{{ account.name }}</span>
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item (click)="signout()">Sign out</button>
    </mat-menu>
  </div>
</mat-toolbar>
