:host {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.empty {
  text-align: center;
  padding: 50px;
}
.date {
  font-weight: bold;
  font-size: 14px;
  padding: 16px;
  padding-bottom: 4px;
  color: #3d5170;
}

.anchors {
  .anchor {
    padding: 16px;
    color: #818ea3;
    font-size: 16px;
    cursor: pointer;

    .time {
      max-width: 200px;
      min-width: 100px;
      width: 100%;
    }

    .label {
      font-weight: 500;
      margin-right: 2px;
    }
    .value {
    }
  }
}
