<lto-content-section title="Anchors" subtitle="Dashboard">
  <mat-card>
    <mat-card-title>Create anchor</mat-card-title>
    <mat-card-content> <lto-wallet-file-drop></lto-wallet-file-drop> </mat-card-content>
  </mat-card>
</lto-content-section>

<lto-content-section>
  <mat-card>
    <mat-card-title>Active anchors</mat-card-title>
    <mat-card-content>
      <ng-container *ngTemplateOutlet="emptyTpl"></ng-container>
    </mat-card-content>
  </mat-card>
</lto-content-section>

<ng-template #emptyTpl> <h2 class="empty">There is no anchor transactions</h2> </ng-template>
