@import '~@angular/material/theming';

// @import './pages/pages.theme';
// @import './shared/components/components.theme';

$main-color: A200;

@mixin app-theme() {
  @include mat-core();

  $app-primary: mat-palette($mat-indigo, $main-color);
  $app-accent: mat-palette($mat-orange);

  $app-warn: mat-palette($mat-red);
  $app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

  @include angular-material-theme($app-theme);

  // @include shared-components($app-theme);
  // @include pages-theme($app-theme);

  .appbar {
    background-color: mat-color($app-primary, $main-color) !important;

    .brand {
      color: mat-color($app-primary, $main-color + '-contrast');
    }
  }

  a {
    text-decoration: none;
    color: mat-color($app-primary, 700);
  }

  .sidenav-navigation .links a.active {
    color: mat-color($app-primary, 700) !important;
  }

  .mat-card {
    border-radius: 8px !important;
  }

  .mat-button,
  .mat-flat-button,
  .mat-icon-button,
  .mat-stroked-button,
  .mat-raised-button {
    border-radius: 4px !important;
  }
}
