@import '~@angular/material/theming';
// Plus imports for other components in your app.
@import './private/private.theme';

@include mat-core();

$lto-wallet-primary: mat-palette($mat-purple);
$lto-wallet-accent: mat-palette($mat-pink, A200, A100, A400);

$lto-wallet-warn: mat-palette($mat-red);

$lto-wallet-theme: mat-light-theme($lto-wallet-primary, $lto-wallet-accent, $lto-wallet-warn);

@include angular-material-theme($lto-wallet-theme);

.mat-toolbar {
  background: white;
  border-bottom: solid 1px rgba(0, 0, 0, 0.12);
}

.mat-card.mat-card {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}
.mat-card:not([class*='mat-elevation-z']) {
  box-shadow: none;
}

.mat-sidenav-content {
  background: #fff;
}

.cdk-overlay-pane {
  padding: 16px;
}

h1,
h2,
h3,
h4,
h5,
.mat-card-title {
  font-weight: 400;
}

p {
  font-size: 16px;
}

@include private-theme($lto-wallet-theme);
