<lto-content-section title="Seed Swap" subtitle="DASHBOARD">
  <mat-card>
    <mat-card-title>Waves Tokenswap </mat-card-title>
    <mat-card-content>
      <div class="guts">
        <p>If you are a seed round investor you can swap your Waves tokens here…</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
        </p>
        <div class="button-box">
          <button mat-flat-button color="primary">Let's get started</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</lto-content-section>
