<lto-content-section title="LegalThings One Waves Tokens Swap" subtitle="DASHBOARD">
  <mat-card>
    <mat-card-title>LegalThings One Waves Tokens Swap </mat-card-title>
    <mat-card-content>
      <div class="guts">
        <p>If you bought tokens during the pre-sale you need to swap them into the LTO Network Mainnet Tokens.</p>
        <p>When you click 'let's get started' you go through the following steps:</p>
        <p>
          <b>Step1: Generate a bridge address</b><br>
          A bridge address will be generated where you can send you LegalThings One Waves Tokens to.
        </p>
        <p>
          <b>Step2: Waves transfer fee</b><br>
          If you don't have any WAVES to pay the transaction fee to transfer your tokens, you can receive them by filling in your waves
        address here.
        </p>
        <div class="button-box">
          <button mat-flat-button color="primary" (click)="showSwapDialog()">
            Let's get started
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</lto-content-section>
