<lto-content-section title="LegalThings One Waves Tokens Swap" subtitle="DASHBOARD">
  <mat-card>
    <mat-card-title>LegalThings One Waves Tokens Swap </mat-card-title>
    <mat-card-content>
      <div class="guts">
        <p>We’ve closed the WAVES - LTO Network token bridge. Rest assured, we can manually transfer your tokens to your LTO Network wallet.</p>

        <p>To start this procedure, please fill in the form<p></p>

        <div class="button-box">
          <a mat-flat-button color="primary" href="https://docs.google.com/forms/d/1ccF7fVOWup7NTp9xOs0UqEXArPlbXNYJYM0Q6PuBxk4/edit">
            Fill out form
          </a>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</lto-content-section>
