<div class="content" fxLayout="column" fxLayoutAlign="center center">
  <mat-card fxFlex="0 0 auto" fxFlex.xs="1 1 100%">
    <form (submit)="login({})" [formGroup]="loginForm">
      <mat-card-title>Sign in</mat-card-title>
      <mat-card-content>
        <div fxLayout="column">
          <mat-form-field appearance="standard">
            <mat-label>Account</mat-label>
            <mat-select name="account" required formControlName="account">
              <mat-option *ngFor="let account of accounts$ | async" [value]="account">{{account.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="standard">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Password" name="password" formControlName="password" required>

            <mat-error *ngIf="loginForm.controls['password'].errors?.wrong">Invalid password</mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions fxLayout="row">
        <a mat-button routerLink="../create">Create account</a>
        <a mat-button routerLink="../restore">Restore from seed</a>
        <span fxFlex="1 1 auto"></span>
        <button mat-raised-button color="primary">Log in</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>