:host {
  display: block;
  width: 478px;
  padding: 24px;
  box-sizing: border-box;
}

mat-divider {
  margin: 32px 0;
}

h1.header {
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 32px;
}

.general-info {
  .crypto-icon {
    width: 54px;
    height: 54px;
  }

  .amount {
    text-align: center;
    .label {
      font-size: 16px;
    }
    .value {
      font-size: 36px;
    }
  }
}

.info-list {
  .item {
    .label {
      color: rgba(0, 0, 0, 0.54);
      font-size: 12px;
      text-transform: uppercase;
      margin-bottom: 7px;
    }
  }

  .recipients {
    padding-left: 6px;
  }

  table {
    width: 100%;
    thead {
      font-size: 12px;
      color: rgba(0, 0, 0, 0.54);
      th {
        font-weight: 400;
      }
    }

    .address {
      text-align: left;
    }
    .amount {
      text-align: right;
    }
  }
}

.anchors {
  .anchors-header {
    margin-bottom: 14px;
  }
  .anchor-button {
    font-size: 12px;
    padding: 2px 8px;
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    margin: 0 4px;
    cursor: pointer;

    &.selected {
      background-color: rgba(0, 0, 0, 0.054);
    }
  }

  .anchor {
    font-size: 12px;
  }
}

.uppercase {
  text-transform: uppercase;
}
