<lto-content-section title="Settings" subtitle="" fxLayout="column" fxLayoutGap="32px">
  <mat-card *ngIf="ltoAccount">
    <mat-card-title>Account: {{ userAccount?.name }}</mat-card-title>
    <mat-card-content>
      <div class="items" fxLayout="column" fxLayoutGap="16px">
        <lto-copyable-text label="Your address" [text]="ltoAccount?.address"></lto-copyable-text>
        <lto-copyable-text label="Public key" [text]="ltoAccount?.getPublicSignKey()"></lto-copyable-text>
        <lto-wallet-hidden-text label="Backup phrase" [text]="ltoAccount?.seed"></lto-wallet-hidden-text>
        <lto-wallet-hidden-text label="Private key" [text]="ltoAccount?.getPrivateSignKey()"></lto-wallet-hidden-text>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="ledgerAccount">
    <mat-card-title>Account: {{ ledgerAccount?.name }} {{ ledgerAccount?.id }}</mat-card-title>
    <mat-card-content>
      <div class="items" fxLayout="column" fxLayoutGap="16px">
        <lto-copyable-text label="Your address" [text]="ledgerAccount?.address"></lto-copyable-text>
        <lto-copyable-text label="Public key" [text]="ledgerAccount?.publicKey"></lto-copyable-text>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>Security</mat-card-title>
    <mat-card-content>
      <mat-list>
        <h3 mat-subheader>Scripts</h3>
        <mat-list-item [ngSuspense]="scriptEnabled$">
          <div fxLayout="row" fxLayoutAlign="start center" fxFlexFill *ngSuspenseSuccess="let enabled">
            <span fxFlex="1 1 auto">Script</span>
            <ng-container *ngIf="enabled">
              <button mat-button color="warn" (click)="disableScript()">Disable script</button>
              <button mat-button (click)="showScriptInfo()">Script info</button>
            </ng-container>
            <button mat-button *ngIf="!enabled" (click)="createScript()">Set script</button>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</lto-content-section>
