<lto-content-section title="Settings" subtitle="Dashboard" fxLayout="column" fxLayoutGap="32px">
  <mat-card>
    <mat-card-title>Acount {{ (userAccount$ | async)?.name }}</mat-card-title>
    <mat-card-content>
      <div class="items" fxLayout="column" fxLayoutGap="16px">
        <lto-copyable-text label="Your address" [text]="(ltoAccount$ | async)?.address"></lto-copyable-text>
        <lto-copyable-text label="Public key" [text]="(ltoAccount$ | async)?.getPublicSignKey()"></lto-copyable-text>
        <lto-wallet-hidden-text label="Backup phrase" [text]="(ltoAccount$ | async)?.seed"></lto-wallet-hidden-text>
        <lto-wallet-hidden-text label="Private key" [text]="(ltoAccount$ | async)?.getPrivateSignKey()"></lto-wallet-hidden-text>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>Security</mat-card-title>
    <mat-card-content>
      <mat-list>
        <h3 mat-subheader>Scripts</h3>
        <mat-list-item [ngSuspense]="scriptEnabled$">
          <div fxLayout="row" fxLayoutAlign="start center" fxFlexFill *ngSuspenseSuccess="let enabled">
            <span fxFlex="1 1 auto">Script</span>
            <button mat-button *ngIf="enabled">Disable script</button>
            <button mat-button *ngIf="!enabled" (click)="createScript()">Set script</button>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</lto-content-section>
