h2 {
  color: white;
  text-align: center;
  margin-top: 50px;
  font-weight: 100;
}

pre {
  background: #ececec;
  padding: 16px;
  border-radius: 4px;
}

.anchors-container {
  overflow-x: auto;
}
