<lto-page-content>
  <lto-page-content-header>
    <h2 fxLayout="column">
      <span>Transaction</span>
      <span>{{id$ | async}}</span>
    </h2>
  </lto-page-content-header>
  <lto-page-content-body>
    <ng-container *ngIf="transaction$ | async as transaction; else loadingTpl">
      <div fxLayout="column" fxLayoutGap="16px">
        <mat-card>
          <mat-card-title>Transaction info</mat-card-title>
          <mat-card-content>
            <ng-container>
              <poe-keyvalue-list>
                <poe-keyvalue-list-item label="Type">{{transaction.type}}</poe-keyvalue-list-item>
                <poe-keyvalue-list-item label="Timestamp">{{transaction.timestamp | date: 'medium'}}</poe-keyvalue-list-item>
                <poe-keyvalue-list-item label="Block"><a [routerLink]="['/', 'block', transaction.height]">{{transaction.height}}</a></poe-keyvalue-list-item>
                <poe-keyvalue-list-item label="Amount" *ngIf="transaction.type == 4 || transaction.type == 8">{{transaction.amount
                  | lto_amount}}</poe-keyvalue-list-item>
                <poe-keyvalue-list-item label="Fee">{{transaction.fee | lto_amount}}</poe-keyvalue-list-item>
                <poe-keyvalue-list-item label="Sender"><a [routerLink]="['/', 'address', transaction.sender]">{{transaction.sender}}</a></poe-keyvalue-list-item>
                <poe-keyvalue-list-item *ngIf="showRecipient(transaction)" label="Recipient"><a [routerLink]="['/', 'address', transaction.recipient]">{{transaction.recipient}}</a></poe-keyvalue-list-item>
                <poe-keyvalue-list-item label="Signature">{{transaction.signature || transaction.proofs[0]}}</poe-keyvalue-list-item>
              </poe-keyvalue-list>
            </ng-container>
          </mat-card-content>
        </mat-card>

        <ng-container *ngIf="checkedReceipt$ | async as receipt">

          <div class="receipt" [ngClass]="{'invalid': receipt.invalid}" fxLayout="row" fxLayoutAlign="start center"
            fxLayoutGap="24px">
            <mat-icon *ngIf="receipt.invalid !== true">check_circle_outline</mat-icon>
            <mat-icon *ngIf="receipt.invalid">highlight_off</mat-icon>
            <div fxLayout="column" fxFlex="1 1 auto">
              <h2>Hash {{receipt.invalid ? 'invalid' : 'valid'}}</h2>
              <div class="hash">{{receipt.hash}}</div>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="transaction.type == 4">
          <mat-card>
            <mat-card-title>Attachment</mat-card-title>
            <mat-card-content>
              <pre>{{transaction.attachment}}</pre>
            </mat-card-content>
          </mat-card>
        </ng-container>

        <ng-container *ngIf="anchors$ | async as anchors;">
          <ng-container *ngIf="anchors.length">
            <mat-card>
              <mat-card-title>Transaction anchors</mat-card-title>
              <mat-card-content>
                <div class="anchors-container">
                  <table mat-table [dataSource]="anchors">
                    <ng-container matColumnDef="hex">
                      <th mat-header-cell *matHeaderCellDef> Hex </th>
                      <td mat-cell *matCellDef="let anchor"> {{shorten(anchor.hex, 40)}} </td>
                    </ng-container>

                    <ng-container matColumnDef="base64">
                      <th mat-header-cell *matHeaderCellDef> Base64 </th>
                      <td mat-cell *matCellDef="let anchor">
                        <span [matTooltip]="anchor.base64">{{anchor.base64.substring(0, 10)}}...</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="base58">
                      <th mat-header-cell *matHeaderCellDef> Base58 </th>
                      <td mat-cell *matCellDef="let anchor">
                        <span [matTooltip]="anchor.base58">{{anchor.base58.substring(0, 10)}}...</span> </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="['hex', 'base64', 'base58']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['hex', 'base64', 'base58'];"></tr>
                  </table>
                  <!-- <div class="anchors-list">
                    <div class="anchor" *ngFor="let anchor of anchors">
                      <h3>{{anchor.value}}</h3>
                      <div class="additional">
                        <div class="base58">Base58:{{anchor.base58}}</div>
                        <div class="hex">Hex:{{anchor.hash}}</div>
                      </div>
                    </div>
                  </div> -->
                </div>
              </mat-card-content>
            </mat-card>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="transaction.type == 12">
          <mat-card>
            <mat-card-title>Transaction data</mat-card-title>
            <mat-card-content>
              <pre>{{transaction.data | json}}</pre>
            </mat-card-content>
          </mat-card>
        </ng-container>

        <ng-container *ngIf="transaction.type == 15">
          <mat-card>
            <mat-card-title>Transaction data</mat-card-title>
            <mat-card-content>
              <pre>{{transaction.anchors | json}}</pre>
            </mat-card-content>
          </mat-card>
        </ng-container>

      </div>
    </ng-container>
  </lto-page-content-body>
</lto-page-content>


<ng-template #loadingTpl>
  <div class="loading" fxLayout="row" fxLayoutAlign="center">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
