@import '~@angular/material/theming';

h2 {
  color: white;
  text-align: center;
  margin-top: 50px;
  font-weight: 100;
}

pre {
  background: #ececec;
  padding: 16px;
  border-radius: 4px;
}

.anchors {
  background: white;

  @include mat-elevation(2);
}

.anchors-container {
  color: rgba(0, 0, 0, 0.82);
  margin-left: -24px;
  margin-right: -24px;
  table {
    width: 100%;
  }
  .anchors-list {
    .anchor {
      background: rgba(0, 0, 0, 0.02);
      padding: 8px;
      box-sizing: border-box;
      margin-bottom: 8px;
      h3 {
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 6px;
      }
      .additional {
        padding-left: 8px;
        box-sizing: border-box;
      }
    }
  }
}

.receipt {
  background: #00701a;
  padding: 24px;
  box-sizing: border-box;
  color: white;
  @include mat-elevation(2);

  h2 {
    margin-top: 0;
    font-weight: 100;
    text-align-last: left;
  }

  &.invalid {
    background: #ba000d;
  }

  mat-icon {
    width: 64px;
    height: 64px;
    font-size: 64px;
  }
}
