.date {
  font-weight: 500;
  color: #3d5170;
  font-size: 18px;
  padding: 16px;
  padding-bottom: 8px;
}

.transaction {
  padding: 16px;
  color: #818ea3;
  font-size: 16px;
  cursor: pointer;

  .label {
    font-weight: 500;
    margin-right: 2px;
  }

  .addresses {
    margin-bottom: 8px;
  }

  .misc {
    > div {
      width: 33%;
    }
    .fee,
    .type {
      text-align: right;
    }
  }

  .amount {
    font-size: 20px;
  }

  .type {
    text-transform: uppercase;
  }
}
