:host {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  width: 100%;
  box-sizing: border-box;
}

h4 {
  margin-bottom: 0;
  margin-top: 0;
  color: #818ea3;
}
h2 {
  margin-top: 0;
  font-size: 32px;
  color: #3d5170;
}
