<h2 mat-dialog-title fxLayout="row">
  <span>Please confirm</span> <span fxFlex="1 1 auto"></span>
  <span fxLayout="row" fxLayoutAlign="start center" class="fee">
    <mat-icon>warning</mat-icon><span *ngIf="burnRatePts">{{ burnRatePts }}%</span>
  </span>
</h2>
<mat-dialog-content [ngSwitch]="step">
  <ng-container *ngSwitchCase="1">
    <div class="address-box">
      <h4>Your ERC20 wallet address:</h4>
      <mat-form-field appearance="outline" floatLabel="never">
        <input matInput [(ngModel)]="erc20Address" required type="text" placeholder="Fill in your wallet address" />
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px" *ngIf="burnRatePts">
      <div>
        <h4>LTO Mainnet</h4>
        <lto-wallet-amount-input [(ngModel)]="mainnetAmount"></lto-wallet-amount-input>
      </div>
      <mat-icon>arrow_right_alt</mat-icon>
      <div>
        <h4>ERC20</h4>
        <lto-wallet-amount-input [disabled]="true" [ngModel]="erc20Amount"></lto-wallet-amount-input>
      </div>
    </div>
    <div class="captcha" fxLayout="row" fxLayoutAlign="center">
      <re-captcha (resolved)="resolvedCaptcha($event)"></re-captcha>
    </div>
    <div class="confirm" fxLayout="row" fxLayoutAlign="center center">
      <button mat-flat-button color="primary" (click)="transfer()" [disabled]="cannotContinue">
        Confirm swap
      </button>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="2">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="32px" class="success">
      <p>
        We have sent the LTO Mainnet token to our Bridge Troll for converting it to ERC20 tokens.
      </p>
      <img src="assets/troll.png" alt="" />
      <button mat-flat-button color="primary" mat-dialog-close>Close</button>
    </div>
  </ng-container>
</mat-dialog-content>
