$break-small: 640px;

.page-content-header {
  padding-bottom: 150px;
  margin-bottom: -100px;

  &.separated {
    position: relative;
    margin-bottom: 0;
    padding: 50px 0;
  }

  @media screen and (max-width: $break-small) {
    padding-bottom: 100px;
  }
}

.page-content-header-content,
.page-content-body {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  padding: 16px;
  box-sizing: border-box;
}
