.swap-type-picker {
  border: 1px solid #becad6;
  border-radius: 8px;
  overflow: hidden;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  text-align: center;

  >div {
    font-size: 24px;
    padding: 20px 16px;
    line-height: 24px;
    color: #5a6169;
    cursor: pointer;
    border-top: 1px solid #becad6;

    &.disabled {
      cursor: not-allowed;
    }

    &:first-child {
      border-top: none;
    }

    &:hover,
    &.active {
      background: rgba(0, 0, 0, 0.04);
    }
  }
}

.muted {
  color: gray;
}

h3 {
  margin: 32px 0 10px 0;
  font-weight: 900;

  &:first-child {
    margin-top: 0;
  }
}

small {
  font-size: 0.75em;
}
