<h2 mat-dialog-title>Choose your swap</h2>
<mat-dialog-content>
  <div>
    <h3>from</h3>
    <div class="swap-type-picker">
      <div (click)="selectFrom(SwapTokenType.MAINNET)" [ngClass]="{active: selectedFrom === SwapTokenType.MAINNET}">
        <span class="purple">MAINNET</span>
      </div>
      <div (click)="selectFrom(SwapTokenType.ERC20)" [ngClass]="{active: selectedFrom === SwapTokenType.ERC20}">
        <span class="blue">ERC-20 <small>(Ethereum)</small></span>
      </div>
      <div (click)="bscEnabled && selectFrom(SwapTokenType.BEP20)" [ngClass]="{active: selectedFrom === SwapTokenType.BEP20, disabled: !bscEnabled}"
           [matTooltip]="bscEnabled ? '' : 'Transferring from BSc to Mainnet is not available yet as it\'s currently being reviewed. Thanks for your patience'">
        <span class="yellow">BEP-20 <small>(Binance Smart Chain)</small></span>
      </div>
      <div (click)="bep2Enabled && selectFrom(SwapTokenType.BEP2)" [ngClass]="{active: selectedFrom === SwapTokenType.BEP2, disabled: !bep2Enabled}"
             [matTooltip]="bep2Enabled ? '' : 'Binance Beacon Chain has been shut down at block height 385,251,927 since December 3, 2024'">
        <span class="black">BEP-2 <small>(Binance Beacon Chain)</small></span>
      </div>
    </div>

    <h3>to</h3>
    <div class="swap-type-picker">
      <div (click)="selectTo(SwapTokenType.EQTY)" [ngClass]="{active: selectedTo === SwapTokenType.EQTY }">
        <span class="cyan">EQTY <small>(Base)</small></span>
      </div>
      <div (click)="selectTo(SwapTokenType.MAINNET)" [ngClass]="{active: selectedTo === SwapTokenType.MAINNET, disabled: selectedFrom === SwapTokenType.MAINNET}">
        <span class="purple">MAINNET</span>
      </div>
      <div (click)="selectTo(SwapTokenType.ERC20)" [ngClass]="{active: selectedTo === SwapTokenType.ERC20, disabled: selectedFrom && selectedFrom !== SwapTokenType.MAINNET}">
        <span class="blue">ERC-20 <small>(Ethereum)</small></span>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button color="primary" [disabled]="!selectedFrom || !selectedTo" (click)="nextStepClick()">Next</button>
</mat-dialog-actions>
