:host {
  display: block;
}

.transaction {
  padding: 16px;
  color: #818ea3;
  font-size: 16px;
  cursor: pointer;

  .icon {
    padding: 8px;

    .income-icon {
      color: #17c671;
    }
  }

  .label {
    font-weight: 500;
    margin-right: 4px;
  }

  .addresses {
    margin-bottom: 8px;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    white-space: pre;
  }

  .misc {
    > div {
      // width: 33%;
    }
    .fee,
    // .type {
    //   text-align: right;
    // }
    .status {
      text-transform: uppercase;

      .value {
        color: #818ea3;

        &.active {
          color: green;
        }
      }
    }
  }

  .time {
    min-width: 100px;
  }

  .amount {
    font-size: 20px;
    width: 115px;
  }

  .type {
    text-transform: uppercase;
  }
}
@media only screen and (max-width: 550px) {
  .smallTxt {
    font-size: 14px;
  }

  .info {
    max-width: max(200px, 100% - 150px);
  }

  .isWideScreen {
    display: none !important;
  }

  .isSmallScreen {}
}
@media only screen and (min-width: 550px) {
  .info {
    max-width: min(354px, 100% - 120px);
  }

  .isWideScreen {}

  .isSmallScreen {
    display: none !important;
  }
}