mat-card-content {
  text-align: center;
}

img {
  max-width: 350px;
  width: 100%;
  margin-top: 48px;
  margin-bottom: 32px;
}
// .narrow {
//   width: 400px;
//   margin: 0 auto;
// }

.buttons {
  border-top: 1px solid #becad6;
  padding: 32px;
  margin-top: 48px;
}