<h1 mat-dialog-title>{{ dialogTitle }}</h1>
<mat-dialog-content>
  <div class="icon-box" fxLayout="row" fxLayoutAlign="center center">
    <mat-icon>arrow_upward</mat-icon>
  </div>
  <div class="transaction-data-list">
    <div class="transaction-data-row" *ngFor="let field of transactionData" fxLayout="row">
      <div class="label">{{ field.label }}</div>
      <div class="value" fxFlex="1 1 auto">
        {{ prettify(field.value) }}
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="16px">
  <button mat-button [mat-dialog-close]="false">Go back</button>
  <button color="primary" mat-flat-button [mat-dialog-close]="true">Confirm</button>
</mat-dialog-actions>
