<h2 mat-dialog-title>Instructions</h2>
<mat-dialog-content>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation </p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation </p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button color="primary" (click)="nextStepClick()">Next</button>
</mat-dialog-actions>
