.address-container {
  text-align: center;
  margin: 32px 0;
  .address {
    display: inline-block;
    background: rgba(0, 0, 0, 0.07);
    padding: 8px 16px;
  }
}

.qr-code {
  margin-top: 32px;
  text-align: center;

  qrcode {
    display: inline-block;
  }
}
