<h2 mat-dialog-title>Your deposit address</h2>
<mat-dialog-content>
  <ng-container *ngIf="captchaResponse; then addressTpl; else captchaTpl"></ng-container>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button color="primary" (click)="closeClick()">Close</button>
</mat-dialog-actions>


<ng-template #captchaTpl>
  <div class="captcha-box" fxLayout="column" fxLayoutAlign="start center">
    <p>We will now generate an ERC-20 address to which you should transfer your LTO (<span class="blue">ERC-20</span>)
      tokens to receive LTO (<span class="purple">MAINNET</span>) in your LTO wallet.</p>
    <re-captcha (resolved)="resolveCaptcha($event)"></re-captcha>
  </div>
</ng-template>

<ng-template #addressTpl>

  <ng-container [ngSuspense]="address$">
    <p *ngSuspenseError class="error">Cannot generate bridge</p>
    <lto-loading-spinner *ngSuspensePlaceholder="1000"></lto-loading-spinner>
    <div class="address-box" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px" *ngSuspenseSuccess="let address;">
      <p>Please send the LTO (<span class="blue">ERC-20</span>) tokens
        to the following wallet address:</p>
      <p></p>
      <qrcode [qrdata]="address" [size]="120"></qrcode>
      <span>or</span>
      <lto-copyable-text [text]="address"></lto-copyable-text>
      <p></p>
      <p>Once we have received your LTO (<span class="blue">ERC-20</span>) tokens
        we will swap them to LTO (<span class="purple">MAINNET</span>) tokens.
      </p>
      <p>Your LTO (<span class="purple">MAINNET</span>) tokens will be automatically added to your LTO wallet.</p>
    </div>
  </ng-container>
</ng-template>
