<h2 mat-dialog-title>Enter fee</h2>
<mat-dialog-content>
  <form>
    <mat-form-field>
      <mat-label>Hash</mat-label>
      <input type="text" matInput name="hash" value="{{ hash }}" disabled />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Transaction fee</mat-label>
      <input type="text" matInput [(ngModel)]="fee" name="fee" #feeInput="ngModel" />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button color="primary" (click)="closeDialog()" [disabled]="feeInput.invalid">
    Anchor
  </button>
</mat-dialog-actions>
