<h2 mat-dialog-title>Choose your swap</h2>
<mat-dialog-content>
  <div>
    <p>Choose your swap direction, either (MAINNET to ERC-20) or (ERC-20 to MAINNET) and press next.</p>

    <div class="swap-type-picker">
      <div class="erc-to-main" (click)="selectERC20ToMain()" [ngClass]="{active: ercToMainActive}">
        LTO (<span class="blue">ERC-20</span>) to LTO (<span class="purple">MAINNET</span>)
      </div>
      <div class="main-to-erc" (click)="selectMainToERC20()" [ngClass]="{active: mainToErcActive}">
        LTO (<span class="purple">MAINNET</span>) to LTO (<span class="blue">ERC-20</span>)
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button color="primary" [disabled]="!selectedType" (click)="nextStepClick()">Next</button>
</mat-dialog-actions>
