<div mat-dialog-title>Transfer details</div>
<mat-dialog-content>
  <lto-keyvalue-list>
    <lto-keyvalue-list-item label="Type">{{transaction.type}}</lto-keyvalue-list-item>
    <lto-keyvalue-list-item label="Time">{{transaction.timestamp | date}}</lto-keyvalue-list-item>
    <lto-keyvalue-list-item label="Amount">{{transaction.amount | lto_amount}}</lto-keyvalue-list-item>
    <lto-keyvalue-list-item label="Fee">{{transaction.fee | lto_amount}}</lto-keyvalue-list-item>
    <lto-keyvalue-list-item label="Sender">{{transaction.sender}}</lto-keyvalue-list-item>
    <lto-keyvalue-list-item label="Recipient">{{transaction.recipient}}</lto-keyvalue-list-item>
  </lto-keyvalue-list>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>