$break-small: 640px;

:host {
  display: block;
  padding-top: 64px;

  @media screen and (max-width: $break-small) {
    padding-top: 54px; // Adjust padding to changing toolbar heigt on small screens
  }
}

.appbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

h2 {
  color: white;
  text-align: center;
  margin-top: 50px;
  font-weight: 100;
}

.balance-box {
  display: flex;

  .balance {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    .label {
      font-size: 16px;
      color: rgba(0, 0, 0, 0.52);
      flex: 1 1 auto;
    }
    .value {
      font-size: 24px;
      color: rgba(0, 0, 0, 0.72);
    }
  }

  @media screen and (max-width: $break-small) {
    flex-direction: column;

    .balance {
      flex-direction: row;
      padding: 8px 0;

      .label,
      .value {
        font-size: 18px;
      }
    }
  }
}
