:host {
  display: block;
  width: 550px;
}
h2 {
  font-weight: 400;
  font-size: 18px;
  color: #3d5170;
}

mat-dialog-content {
  text-align: center;
  color: #3d5170;
  text-align: center;
  .captcha {
    padding: 32px 0;
  }

  .address {
    padding: 24px;
    border: 1px dashed rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    margin-bottom: 48px;

    lto-copyable-text {
      width: 470px;
    }
  }
}
