@use './signin/signin.theme' as signin;
@use 'components/components.theme' as shared-components;
@use '@angular/material' as mat;

@mixin theme($theme) {
  @include signin.theme($theme);
  @include shared-components.theme($theme);

  .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end,
  .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-gap,
  .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start {
    border-width: 1px !important;
  }

  .mat-drawer-container {
    background-color: #f5f6f8;
  }

  .mat-card.mat-card {
    padding: 0;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 6px;

    .mat-card-title {
      font-weight: 400;
      padding: 16px;
      box-sizing: border-box;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      font-size: 18px;
    }
  }

  .mat-icon[svgicon] {
    svg {
      width: 24px;
      height: 24px;
    }
  }

  .mat-toolbar {
    color: #fff !important;
  }

  .mat-card-content {
    margin: 0 15px;
  }

  .qrcode {
    text-align: center;
  }

  mat-card-title {
    border-bottom: 1px solid #e0e0e0;
    padding: 16px;
    font-weight: 400;
  }

  mat-chip.mat-warn {
    background-color: mat.get-theme-color($theme, warn) !important;

    .mat-mdc-chip-action-label {
      color: white !important;
    }
  }
}
