mat-sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

lto-appbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.content {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;

  @media screen and(max-width: 599px) {
    top: 57px;
  }
}
