<mat-toolbar class="mat-elevation-z2 appbar" fxLayout="row">
  <div class="brand">LTO Wallet</div>
  <div class="sections" fxLayout="row">
    <a routerLink="/transfers" routerLinkActive="active">Transfers</a>
    <a routerLink="/leasing" routerLinkActive="active">Leasing</a>
    <a routerLink="/anchors" routerLinkActive="active">Anchors</a>
  </div>
  <span fxFlex="1 1 auto"></span>
  <button mat-button (click)="showMyWalletInfo()">Profile</button>
</mat-toolbar>
<router-outlet></router-outlet>