<div mat-dialog-title>New <span *ngIf="this.sendForm?.controls.transfers.length > 1">mass</span> transaction</div>
<mat-dialog-content *ngIf="(balance$ | async) as balance">
  <form [formGroup]="sendForm" fxLayout="column" *ngIf="sendForm; else emptyTpl">
    <lto-wallet-make-transaction-transfers [sendForm]="sendForm"></lto-wallet-make-transaction-transfers>
    <mat-form-field>
      <mat-label>Attachment</mat-label>
      <input matInput formControlName="attachment" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Fee</mat-label>
      <input matInput formControlName="fee" />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
  <button mat-button matDialogClose>Cancel</button>
  <button mat-button (click)="send()" [disabled]="sendForm?.invalid">Send</button>
</mat-dialog-actions>

<ng-template #emptyTpl>
  <div fxLayout="row" fxLayoutAlign="center center" class="loading">
    <mat-progress-spinner mode="indeterminate" [diameter]="30"></mat-progress-spinner>
  </div>
</ng-template>
