$break-small: 640px;

mat-toolbar {
  background: white;
  // height: auto;
  border-bottom: 1px solid #ccc;

  button {
    margin-left: 6px;
  }

  button.active /deep/ {
    .mat-button-focus-overlay {
      background: rgba(83, 109, 254, 0.12);
      opacity: 1;
    }
  }
}

.content {
  margin: 0 auto;
  padding: 16px;
  box-sizing: border-box;
  max-width: 1400px;
  width: 100%;
}

h3 {
  font-size: 14px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.52);
}

.transactions {
  background: #fff;
  margin-bottom: 32px;

  table {
    width: 100%;
  }
}

.balance {
  max-width: 950px;
  margin: 0 auto;
  margin-bottom: 64px;

  .balance-box {
    display: flex;

    .balance {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;

      .label {
        font-size: 16px;
        color: rgba(0, 0, 0, 0.52);
        flex: 1 1 auto;
      }
      .value {
        font-size: 24px;
        color: rgba(0, 0, 0, 0.72);
      }
    }

    @media screen and (max-width: $break-small) {
      flex-direction: column;

      .balance {
        flex-direction: row;
        padding: 8px 0;

        .label,
        .value {
          font-size: 18px;
        }
      }
    }
  }
}
