<lto-content-section>
  <div class="img-box">
    <img src="../../assets/bridge.png" alt="" />
  </div>
  <mat-card>
    <mat-card-title>
      Token Bridge
    </mat-card-title>
    <mat-card-content>
      <div class="text-box">
        <p>Welcome to the LTO Network Token Bridge.</p>
        <p>Next to the <span class="purple">MAINNET</span> tokens LTO Network has a wrapped <span class="blue">ERC-20</span> token on the Ethereum network.</p>
        <p>Here you can switch <span class="purple">MAINNET</span> LTO tokens for <span class="blue">ERC-20</span> and visa versa.</p>
        <p>The wrapped <span class="yellow">BEP-2</span> and <span class="yellow">BEP-20</span> tokens are being sunset and can only be swapped for <span class="purple">MAINNET</span> tokens.</p>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary" (click)="showSwapDialog()">Swap tokens</button>
    </mat-card-actions>
  </mat-card>
</lto-content-section>
