<lto-content-section width="very-small">
  <mat-card class="mat-elevation-z2">
    <mat-card-content>
      <mat-horizontal-stepper #stepper>
        <mat-step>
          <h1>Restore account</h1>
          <p>Some text about seed and how important to protect it</p>
          <div>
            <mat-form-field floatLabel="always" appearance="outline">
              <mat-label>Your wallet seed</mat-label>
              <textarea
                matInput
                placeholder="Your seed is the 15 words you saved when creating your account"
                [formControl]="seedCtrl"
              ></textarea>
            </mat-form-field>
            <mat-checkbox [checked]="true">Keep the account on this computer</mat-checkbox>
          </div>
        </mat-step>
        <mat-step>
          <h1>Protect Your Account</h1>
          <lto-credentials-form #form></lto-credentials-form>
        </mat-step>
      </mat-horizontal-stepper>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="start center">
      <a mat-button routerLink="../signin">Sign in</a>
      <a mat-button routerLink="../create">Create account</a> <span fxFlex="1 1 auto"></span>
      <button mat-flat-button (click)="stepper.previous()" *ngIf="stepper.selectedIndex === 1">
        Back
      </button>
      <button mat-flat-button color="primary" [disabled]="cannotContinue" (click)="continue()">
        {{ continueButtonLabel }}
      </button>
    </mat-card-actions>
  </mat-card>
</lto-content-section>
