.top-section {
  text-align: center;
}

mat-form-field {
  display: block;
}

mat-card-actions {
  margin-top: 32px;
}

p {
  margin-bottom: 32px;
}

mat-card {
  margin-top: 50px;
}

.step-actions {
  margin: 32px -16px 0 -16px;
}

:host::ng-deep {
  .mat-horizontal-stepper-header-container {
    display: none;
  }

  .mat-horizontal-content-container {
    padding-bottom: 0;
  }
}
