<lto-content-section width="very-small">
  <mat-card class="mat-elevation-z2">
    <mat-card-content>
      <mat-horizontal-stepper #stepper>
        <mat-step>
          <h1>Restore account</h1>
          <p>Some text about seed and how important to protect it</p>
          <div>
            <mat-form-field floatLabel="always" appearance="outline">
              <mat-label>Your wallet seed</mat-label>
              <textarea
                matInput
                placeholder="Your seed is the 15 words you saved when creating your account"
                [formControl]="seedCtrl"
              ></textarea>
            </mat-form-field>
            <mat-checkbox [checked]="true">Keep the account on this computer</mat-checkbox>
            <div class="step-actions" fxLayout="row" fxLayoutAlign="end">
              <button mat-flat-button color="primary" (click)="restoreWallet()">Next</button>
            </div>
          </div>
        </mat-step>
        <mat-step>
          <h1>Protect Your Account</h1>
          <lto-credentials-form #form></lto-credentials-form>
          <div class="step-actions" fxLayout="row" fxLayoutAlign="space-between">
            <button mat-button (click)="stepper.previous()">Back</button>
            <button
              mat-flat-button
              color="primary"
              (click)="saveAccount(form.value)"
              [disabled]="form.invalid"
            >
              Import
            </button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </mat-card-content>
  </mat-card>
</lto-content-section>
