@import '~@angular/material/theming';

.input-container {
  color: white;
  position: relative;
  background: rgba(255, 255, 255, 0.16);
  border-radius: 4px;
  transition: all 0.3s;
  @include mat-elevation(1);
}

.icon-box {
  margin: 0 16px;
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
  mat-icon {
    margin-top: 5px;
  }
}

input {
  position: relative;
  z-index: 1;
  background: none;
  outline: none;
  border: none;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  padding: 0 15px;
  box-sizing: border-box;
  color: #fff;
  font-weight: 400;
  padding-left: 70px;
  font-family: 'Roboto', sans-serif;

  &::placeholder {
    color: #fff;
  }
}

.input-container.focused {
  background: rgba(255, 255, 255, 1);
  @include mat-elevation(4);

  mat-icon,
  input {
    color: rgba(0, 0, 0, 0.52);
    transition: all 0.3s;
  }
}

.option {
  span {
    font-size: 16px;
    line-height: 16px;
  }

  .label {
    font-size: 14px;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.52);
  }
}
