<lto-content-section>
  <mat-card>
    <mat-card-content>
      <div class="message">
        <div class="img"><img src="assets/reqdemo.png" alt="" /></div>
        <h1>Welcome to LTO Network!</h1>
        <h2>Let’s start with setting up your wallet...</h2>
      </div>
      <div class="buttons">
        <div class="narrow" fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px">

          <a fxFlex="1 1 50" mat-flat-button color="primary" routerLink="../create-account">Create account</a>
          <a fxFlex="1 1 50" mat-stroked-button color="primary" routerLink="../import-account">Import account</a>
        </div>
        <div class="narrow" fxLayout="row" fxLayout.xs="column" fxLayoutGap="16px">
          <div class="label" fxFlex="1 1 30">or sign in with</div>
          <button fxFlex="1 1 35" mat-button (click)="mobileLogin()">
            Universal wallet
          </button>
          <button fxFlex="1 1 35" mat-button (click)="connectLedger()">
            Ledger
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</lto-content-section>
