mat-card-content {
  text-align: center;
}

.message {
  padding: 0 10px;
}

img {
  max-width: 350px;
  width: 100%;
  margin-top: 48px;
  margin-bottom: 32px;
}

.narrow {
   max-width: 400px;
   margin: 0 auto;
}

.narrow + .narrow {
  margin-top: 16px;
}

.buttons {
  border-top: 1px solid #becad6;
  padding: 32px 0;
  margin-top: 48px;

  .label {
    line-height: 36px;
    font-weight: 100;
    margin-top: 16px;
    margin-bottom: 4px;
    text-align: center;
  }
}
