<ng-container *ngIf="columns">
  <table mat-table [dataSource]="transactions" aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef><span>Id</span></th>
      <td mat-cell *matCellDef="let transaction"><a [routerLink]="['/', 'transaction', transaction.id]">{{transaction.id.substring(0,
          12)}}...
        </a></td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="fee">
      <th mat-header-cell *matHeaderCellDef>Fee</th>
      <td mat-cell *matCellDef="let transaction">{{transaction.fee | poe_amount}}</td>
    </ng-container>

    <ng-container matColumnDef="timestamp">
      <th mat-header-cell *matHeaderCellDef>Timestamp</th>
      <td mat-cell *matCellDef="let transaction">{{transaction.timestamp | date: 'medium'}}</td>
    </ng-container>

    <ng-container matColumnDef="sender">
      <th mat-header-cell *matHeaderCellDef>Sender</th>
      <td mat-cell *matCellDef="let transaction"><a [routerLink]="['/', 'address', transaction.sender]">{{transaction.sender.substring(0,
          12)}}...
        </a></td>
    </ng-container>

    <ng-container matColumnDef="recipient">
      <th mat-header-cell *matHeaderCellDef>Recipient</th>
      <td mat-cell *matCellDef="let transaction">
        <a *ngIf="transaction.recipient" [routerLink]="['/', 'address', transaction.recipient]">{{transaction.recipient.substring(0,
          12)}}...
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef>Amount</th>
      <td mat-cell *matCellDef="let transaction">{{transaction.amount | poe_amount}}</td>
    </ng-container>

    <ng-container matColumnDef="leasing">
      <th mat-header-cell *matHeaderCellDef>Leasing TX</th>
      <td mat-cell *matCellDef="let transaction">{{transaction.leaseId}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
</ng-container>