.promo {
  color: white;
  font-weight: 100;
  text-align: center;
  font-size: 44px;
}

mat-card {
  height: 400px;
}

poe-search-box {
  max-width: 600px;
  width: 100%;
}

.content {
  margin-top: 32px;
}

.last-blocks {


  .last-blocks-container {
    border-radius: 4px;
    overflow: hidden;

    .all-blocks {
      box-sizing: border-box;
      display: block;
      padding: 32px;
      font-size: 16px;
      background: white;
      text-transform: uppercase;

      &:hover {
        background-color: rgba(0, 0, 0, 0.01);
      }

      span {
        padding-right: 6px;
      }
    }
  }
}

.unconfirmed {
  min-width: 600px;

  h2 {
    text-align: center;
  }
}
