<h2 mat-dialog-title>LTO (<span class="purple">MAINNET</span>) to LTO (<span
    class="{{otherColor}}">{{otherTokenType}}</span>)
</h2>
<mat-dialog-content>
  <ng-container *ngIf="!transfer$; else trollTpl">
    <p>Please fill in the amount of <span class="purple">MAINNET</span> tokens you want to transfer and the ETH address
      where you want to receive the <span class="{{otherColor}}">{{otherTokenType}}</span> tokens.</p>
    <p>Please use a wallet which is compatible with the {{otherTokenType}} token standard and which private keys you
      control.</p>
    <p *ngIf="toTokenType === 'BEP-2'"><span class="red">Do not use this to send to Binance CEX. If you are depositing to Binance CEX, use the ERC20 swap option instead. The BEP2 requires additional memo settings, which is currently not supported.</span></p>
    <form class="withdraw-form" [formGroup]="withdrawForm">
      <div class="row" [ngClass]="{invalid: isInvalid('amount')}">
        <div class="label">Sending</div>
        <div class="value input"><input type="number" formControlName="amount"> LTO (<span
            class="purple">MAINNET</span>)</div>
      </div>
      <div class="row">
        <div class="label">Fee</div>
        <div class="value">- {{ bridgeFee$ | async }} LTO <span class="{{toColor}}">{{toTokenType}}</span></div>
      </div>

      <div class="row">
        <div class="label">Receiving</div>
        <div class="value">{{receiving$ | async | number: '1.0-4'}} LTO (<span
            class="{{otherColor}}">{{otherTokenType}}</span>)
        </div>
      </div>

      <div class="row address" [ngClass]="{invalid: isInvalid('address')}">
        <div class="label">To</div>
        <div class="value input"><input type="text" placeholder="{{addressPlaceholder}} ADDRESS" required
            formControlName="address"></div>
      </div>
    </form>
    <div class="form-errors" *ngIf="withdrawForm.dirty && withdrawForm.invalid">
      <div class="form-error" *ngFor="let error of getFormErrors()">{{error}}</div>
    </div>
    <ng-container *ngIf="step === 'confirm'">
      <div class="confirmation" fxLayout="row" fxLayoutGap="8px">
        <input type="checkbox" name="confirm" id="confirm" (change)="confirm()">
        <label for="confirm">
          I confirm that the all the information I filled in is correct.
        </label>
      </div>
      <div *ngIf="confirmed" class="captcha-box" fxLayout="row" fxLayoutAlign="center">
        <re-captcha (resolved)="solveCaptcha($event)"></re-captcha>
      </div>
    </ng-container>
  </ng-container>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
  <ng-container *ngIf="!transfer$">
    <button mat-flat-button color="primary" [disabled]="withdrawForm.pristine || withdrawForm.invalid"
      *ngIf="step === 'input'" (click)="goToConfirmation()">Next</button>
    <ng-container *ngIf="step ==='confirm'">
      <button mat-button (click)="goToInputStep()">Back</button>
      <button mat-flat-button color="primary" [disabled]="cannotSend" (click)="transfer()">Transfer</button>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="transfer$">
    <button mat-flat-button color="primary" (click)="closeClick()">Close</button>
  </ng-container>
</mat-dialog-actions>

<ng-template #trollTpl>
  <ng-container [ngSuspense]="transfer$">
    <p *ngSuspenseError class="error">Cannot make a transfer</p>
    <lto-loading-spinner *ngSuspensePlaceholder="500"></lto-loading-spinner>
    <div *ngSuspenseSuccess>
      <img class="troll" src="assets/troll.png" alt="">
      <p>We have sent the LTO (<span class="purple">MAINNET</span>) tokens
        to our Bridge Troll to convert them to LTO (<span class="{{otherColor}}">{{otherTokenType}}</span>) tokens.</p>

      <p>The LTO (<span class="{{otherColor}}">{{otherTokenType}}</span>) tokens will be sent to:<br>
        <b>{{withdrawForm.value.address}}</b> {{addressPlaceholder}} address.
      </p>

    </div>
  </ng-container>
</ng-template>
