$break-small: 600px;

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  .brand {
    font-weight: 100;
    img {
      height: 30px;
      margin-right: 6px;
    }
  }
}

mat-sidenav-container {
  height: 100%;
}

.application-content {
  padding-top: 64px;
  box-sizing: border-box;

  @media screen and (max-width: $break-small) {
    padding-top: 54px; // Adjust padding to changing toolbar heigt on small screens
  }
}

.application-footer {
  text-align: center;
  padding: 32px;
  color: rgba(0, 0, 0, 0.52);
  background: #ececec;
  margin-top: 48px;
}

mat-sidenav {
  position: fixed;
}

.section-name {
  margin-left: 16px;
  position: relative;
  padding-left: 16px;
  font-weight: 400;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: block;
    border-left: 1px solid rgba(255, 255, 255, 0.52);
  }
}

.sidenav-navigation {
  width: 280px;
  background: white;

  .brand {
    text-align: center;
    font-weight: normal;
    padding: 40px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 32px;
    font-size: 28px;
  }

  .links {
    a {
      color: rgba(0, 0, 0, 0.52);
      display: block;
      padding: 10px 24px;
      font-size: 16px;
      display: flex;
      outline: none;
      cursor: pointer;

      &:hover {
        background-color: rgba(0, 0, 0, 0.04);
      }

      &.active {
        // For color check app.theme.scss
        background-color: rgba(0, 0, 0, 0.04);
      }
      span {
        padding-left: 16px;
      }
    }
  }
}
