@import '~@angular/material/theming';

@import './pages/pages.theme';
@import './shared/components/components.theme';

$main-color: A200;

@mixin app-theme() {
  @include mat-core();

  $app-primary: mat-palette($mat-indigo, $main-color);
  $app-accent: mat-palette($mat-orange);

  $app-warn: mat-palette($mat-red);
  $app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

  @include angular-material-theme($app-theme);

  @include shared-components($app-theme);
  @include pages-theme($app-theme);

  .appbar {
    background-color: mat-color($app-primary, $main-color) !important;

    .brand {
      color: mat-color($app-primary, $main-color + '-contrast');
    }
  }

  a {
    text-decoration: none;
    color: mat-color($app-primary, 700);
  }

  .sidenav-navigation .links a.active {
    color: mat-color($app-primary, 700) !important;
  }

  lto-page-content {
    .page-content-header {
      background-color: mat-color($app-primary, 'A200') !important;
      color: mat-color($app-primary, 'A200-contrast') !important;

      h1,
      h2,
      h3,
      h4 {
        font-weight: 400;
      }
    }
  }

  .mat-tooltip {
    max-width: none !important;
  }
}
