<h2 mat-dialog-title>
  LTO (<span class="purple">MAINNET</span>) to <ng-container *ngTemplateOutlet="otherToken"></ng-container>
</h2>
<mat-dialog-content>
  <!-- Form and confirmation states -->
  <ng-container *ngIf="(state$ | async) === 'idle' || (state$ | async) === 'confirm'">
    <p>Please fill in the amount of <span class="purple">MAINNET</span> tokens you want to transfer and the
      {{otherTokenType === 'ERC-20' ? 'ETH' : otherTokenType === 'EQTY' ? 'BASE' : otherTokenType}} address where you want to receive the
      <span class="{{otherColor}}">{{otherTokenType}}</span> tokens.
    </p>

    <p>Please use a wallet which is compatible with the {{otherTokenStandard}} token standard and which private keys you
      control.</p>
    <form class="withdraw-form" [formGroup]="withdrawForm">
      <div class="row" [ngClass]="{invalid: isInvalid('amount')}">
        <div class="label">Sending</div>
        <div class="value input"><input type="number" formControlName="amount"> LTO (<span
            class="purple">MAINNET</span>)</div>
      </div>
      <div class="row" *ngIf="bridgeFee$ | async as bridgeFee">
        <div class="label">Fee</div>
        <div class="value">- {{ bridgeFee }} LTO <span class="purple">MAINNET</span></div>
      </div>

      <div class="row">
        <div class="label">Receiving</div>
        <div class="value">{{receiving$ | async | number: '1.0-4'}}
          <ng-container *ngTemplateOutlet="otherToken"></ng-container>
        </div>
      </div>

      <div class="row address" [ngClass]="{invalid: isInvalid('address')}">
        <div class="label">To</div>
        <div class="value input"><input type="text" placeholder="{{addressPlaceholder}} ADDRESS" required
            formControlName="address"></div>
      </div>

      <div *ngIf="toTokenType === 'BEP-2'" class="row address">
        <div class="label">Memo</div>
        <div class="value input"><input type="text" placeholder="memo"
          formControlName="memo"></div>
      </div>
    </form>
    <div class="form-errors" *ngIf="withdrawForm.dirty && withdrawForm.invalid">
      <div class="form-error" *ngFor="let error of getFormErrors()">{{error}}</div>
    </div>
    <ng-container *ngIf="step === 'confirm'">
      <div class="confirmation" fxLayout="row" fxLayoutGap="8px">
        <input type="checkbox" name="confirm" id="confirm" (change)="confirm()">
        <label for="confirm">
          I confirm that the all the information I filled in is correct.
        </label>
      </div>
      <div *ngIf="confirmed && shouldShowCaptcha" class="captcha-box" fxLayout="row" fxLayoutAlign="center">
        <re-captcha (resolved)="solveCaptcha($event)"></re-captcha>
      </div>
    </ng-container>
  </ng-container>

  <!-- Loading state -->
  <ng-container *ngIf="(state$ | async) === 'inProgress'">
    <lto-loading-spinner></lto-loading-spinner>
  </ng-container>

  <!-- Success state -->
  <ng-container *ngIf="(state$ | async) === 'success'">
    <div>
      <img class="troll" src="../../../../../assets/troll.png" alt="">
      <p>We have sent the LTO (<span class="purple">MAINNET</span>) tokens
        to our Bridge Troll to convert them to <ng-container *ngTemplateOutlet="otherToken"></ng-container> tokens.</p>

      <p>The <ng-container *ngTemplateOutlet="otherToken"></ng-container> tokens will be sent to:<br>
        <b>{{withdrawForm.value.address}}</b> {{addressPlaceholder}} address.
      </p>
    </div>
  </ng-container>

  <!-- Error state -->
  <ng-container *ngIf="(state$ | async) === 'error'">
    <div class="form-errors">
      <div class="form-error">{{ transferError }}</div>
    </div>
  </ng-container>
</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
  <!-- Idle/Confirm actions -->
  <ng-container *ngIf="(state$ | async) === 'idle' || (state$ | async) === 'confirm'">
    <button mat-flat-button color="primary" [disabled]="withdrawForm.pristine || withdrawForm.invalid"
      *ngIf="step === 'input'" (click)="goToConfirmation()">Next</button>
    <ng-container *ngIf="step === 'confirm'">
      <button mat-button (click)="goToInputStep()">Back</button>
      <button mat-flat-button color="primary" [disabled]="cannotSend" (click)="transfer()">Transfer</button>
    </ng-container>
  </ng-container>

  <!-- In progress actions -->
  <ng-container *ngIf="(state$ | async) === 'inProgress'">
    <button mat-flat-button color="primary" disabled>Processing…</button>
  </ng-container>

  <!-- Success actions -->
  <ng-container *ngIf="(state$ | async) === 'success'">
    <button mat-flat-button color="primary" (click)="closeClick()">Close</button>
  </ng-container>

  <!-- Error actions -->
  <ng-container *ngIf="(state$ | async) === 'error'">
    <button mat-button (click)="goToInputStep()">Back</button>
    <button mat-flat-button color="primary" [disabled]="withdrawForm.invalid || cannotSend" (click)="transfer()">Retry</button>
  </ng-container>
</mat-dialog-actions>

<ng-template #otherToken>
  <ng-container *ngIf="otherTokenType !== 'EQTY'">LTO (<span class="{{otherColor}}">{{otherTokenType}}</span>)</ng-container>
  <ng-container *ngIf="otherTokenType === 'EQTY'"><span class="{{otherColor}}">{{otherTokenType}}</span></ng-container>
</ng-template>
