<lto-content-section>
  <mat-card>
    <mat-card-content>
      <div>
        <h1>Import Account</h1>
        <ng-container *ngTemplateOutlet="stepTemplate"></ng-container>
      </div>
    </mat-card-content>
  </mat-card>
</lto-content-section>

<ng-template #step1Tpl>
  <div class="narrow">
    <form [formGroup]="seedForm">
      <mat-form-field floatLabel="always" appearance="outline">
        <mat-label>Your wallet seed</mat-label>
        <textarea rows="5" matInput placeholder="Your seed is the 15 words you saved when creating your account"
          required formControlName="seed"></textarea>
      </mat-form-field>
      <div id="legacy" class="narrow" fxLayout="row" fxLayoutAlign="end">
        <mat-checkbox class="example-margin" matTooltip="Legacy mode is case sensitive, and space sensitive" formControlName="legacy">Legacy</mat-checkbox>
      </div>
      Address: {{walletAddress$ | async}}
    </form>
  </div>
  <div class="buttons">
    <div class="narrow" fxLayout="row" fxLayoutAlign="center">
      <button fxFlex="1 1 100" mat-flat-button color="primary" [disabled]="(account$ | async) === null" (click)="gotoStep2()">
        Continue
      </button>
    </div>
  </div>
</ng-template>

<ng-template #step2Tpl>
  <div class="narrow">
    <p>Account will be stored locally on your device</p>
    <div class="credentials-form">
      <lto-credentials-form #credentialsForm></lto-credentials-form>
    </div>
  </div>
  <div class="buttons">
    <div class="narrow" fxLayout="row" fxLayoutAlign="center">
      <button fxFlex="1 1 100" mat-flat-button [disabled]="credentialsForm.invalid" color="primary" (click)="saveAccount(credentialsForm.value)">
        Continue
      </button>
    </div>
  </div>
</ng-template>
