:host {
  display: flex;
  box-sizing: border-box;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.actions {
  padding: 8px 16px;
}

.compoennt-content {
  padding: 16px;
  box-sizing: border-box;
}

.amount {
  font-size: 16px;
  position: relative;
  width: 90px;

  .crypto-icon {
    width: 24px;
    height: 24px;
    margin-left: 6px;
  }
  .value {
    margin-top: 6px;
    font-size: 24px;
  }

  &:before {
    display: block;
    position: absolute;
    content: '';
    top: 0px;
    bottom: 0px;
    border-left: 1px solid #e8e8e8;
    left: 0;
  }
}

.info-list {
  .item {
    margin-bottom: 8px;
    .label {
      color: rgba(0, 0, 0, 0.54);
      font-size: 12px;
      text-transform: uppercase;
      margin-bottom: 4px;
    }

    .value {
      font-size: 16px;
    }
  }

  .recipients {
    padding-left: 6px;
  }
}
