<ng-container [ngSwitch]="step">
  <lto-wallet-instructions *ngSwitchCase="1" (nextStep)="gotoStep2()"></lto-wallet-instructions>
  <lto-wallet-swap-type *ngSwitchCase="2" (selectType)="selectSwapType($event)"></lto-wallet-swap-type>
  <lto-wallet-example *ngSwitchCase="3" [swapType]="swapType" (nextStep)="goToNextStep()"></lto-wallet-example>
  <!-- From here our path splits 4 erc->mainnet part, 5-13 mainnet->erc part -->
  <lto-wallet-deposit-erc *ngSwitchCase="4" (close)="close()"></lto-wallet-deposit-erc>
  <!-- mainnet -> erc part -->
  <lto-wallet-withdraw-form *ngSwitchCase="5" (close)="close()"></lto-wallet-withdraw-form>
</ng-container>
