@use '@angular/material' as mat;
@use './app/app.theme' as app;

@include mat.core();

$lto-wallet-theme: mat.m2-define-light-theme((
  color: (
    primary: mat.m2-define-palette(mat.$m2-deep-purple-palette),
    accent: mat.m2-define-palette(mat.$m2-pink-palette),
    warn: mat.m2-define-palette(mat.$m2-red-palette)
  ),
  typography: mat.m2-define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($lto-wallet-theme);
@include app.theme($lto-wallet-theme);

body,
html {
  height: 100%;
}

body {
  margin: 0;
  background: #f5f6f8;
  color: #5a6169;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
