<div class="container" fxLayout="row" fxLayoutAlign="center center">
  <label for="file-input" class="box">
    <ngx-file-drop customstyle="box--" (onFileDrop)="dropped($event)">
      <ng-template ngx-file-drop-content-tmp>
        <div>
          <img src="assets/file-alt.png" alt="" />
          <h2>Drag & drop</h2>
          <div class="subtitle">your file, or <span class="underline">browse</span> files</div>
          <div class="alert" fxLayout="column" fxLayoutAlign="center center">
            <mat-icon>warning</mat-icon>
            <span
              >file will only be used for hashing<br />
              and will not be stored locally</span
            >
          </div>
        </div>
      </ng-template>
    </ngx-file-drop>

    <input
      type="file"
      #fileInput
      (click)="fileInput.value = null"
      id="file-input"
      (change)="fileSelected($event)"
    />
  </label>
</div>
