@import '~@angular/material/theming';
@import './app/app.theme';

@include mat-core();

$lto-wallet-primary: mat-palette($mat-deep-purple);
$lto-wallet-accent: mat-palette($mat-pink, A200, A100, A400);

$lto-wallet-warn: mat-palette($mat-red);

$lto-wallet-theme: mat-light-theme($lto-wallet-primary, $lto-wallet-accent, $lto-wallet-warn);

@include angular-material-theme($lto-wallet-theme);

@include app-theme($lto-wallet-theme);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  background: #f5f6f8;
  color: #5a6169;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
