.loading {
  padding: 16px;
  box-sizing: border-box;
}

.text-right {
  text-align: right;
}

.nodeAdr {
  font-size: 0.8em;
  color: lightgrey;
}

.imgLink {
  width: 12px;
  cursor: pointer;
  opacity: 0.6;
  margin-left: 5px;

  &:hover {
    opacity: 1;
  }
}

.noPaddingLeft {
  padding-left: 0 !important;
}

.noPaddingRight {
  padding-right: 0 !important;
}

table.mat-table {
  width: 100%;
}

td.mat-cell {
  border-bottom-style: none;
}

.mat-row:hover {
  background-color: rgba(243, 229, 245, 0.5);
  cursor: pointer;
}

.mat-column-name strong {
  font-weight: 500;
}

.mat-column-address {
  width: 246px;
}

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding: 0;
}

@media screen and (max-width: 550px) {
  .btn-link {
    display: none;
  }
}

/*
@media screen and (max-width: 400px) {
  .nodeAdr {
    width: 160px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
*/
