<lto-content-section fxLayout="column" fxLayoutAlign="start center" class="top-section">
  <h1>Toolkit for Trustless Workflows</h1>
  <p>
    Blah-blah-blah Blah-blah-blah Blah-blah-blah
    Blah-blah-blahBlah-blah-blahBlah-blah-blahBlah-blah-blahBlah-blah-blah Blah-blah-blah
    Blah-blah-blah Blah-blah-blah Blah-blah-blah Blah-blah-blah Blah-blah-blah мBlah-blah-blah
  </p>
  <div fxLayout="row" fxLayoutGap="16px" class="buttons" fxLayoutAlign="start center">
    <a mat-flat-button color="primary" routerLink="./create">Get started</a> <span>OR</span>
    <button mat-button color="primary" routerLink="./import">Import account</button>
  </div>
</lto-content-section>
