<div mat-dialog-title>Account info</div>
<mat-dialog-content>
  <ng-container *ngIf="wallet.ltoAccount$ | async as ltoAccount">
    <h5>Address</h5>
    <pre>{{ltoAccount.address}}</pre>
    <h5>Seed</h5>
    <pre>{{ltoAccount.seed}}</pre>
    <h5>Encrypted seed</h5>
    <pre>{{(accountManagement.account$ | async)?.encryptedSeed}}</pre>
    <h5>Private key</h5>
    <pre>{{ltoAccount.getPrivateSignKey()}}</pre>
    <h5>Public key</h5>
    <pre>{{ltoAccount.getPublicSignKey()}}</pre>
  </ng-container>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>