<div class="content">
  <mat-card>
    <mat-card-title>LTO</mat-card-title>
    <mat-card-content>
      <div class="balance-box" *ngIf="wallet.balance$ | async as balance">
        <div class="balance">
          <div class="label">Regular</div>
          <div class="value">{{balance.regular | lto_amount}}</div>
        </div>
        <div class="balance">
          <div class="label">Generating</div>
          <div class="value">{{balance.generating | lto_amount}}</div>
        </div>
        <div class="balance">
          <div class="label">Available</div>
          <div class="value">{{balance.available | lto_amount}}</div>
        </div>
        <div class="balance">
          <div class="label">Effective</div>
          <div class="value">{{balance.effective | lto_amount}}</div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="end">
      <button mat-button color="primary" (click)="makeTransaction()">Send</button>
      <button mat-button color="primary" (click)="receive()">Receive</button>
    </mat-card-actions>
  </mat-card>
</div>