$break-small: 640px;

.content {
  padding: 16px;
  box-sizing: border-box;
}

mat-card {
  margin: 0 auto;
  width: 100%;
  max-width: 950px;
  box-sizing: border-box;
}

.balance-box {
  display: flex;

  .balance {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    .label {
      font-size: 16px;
      color: rgba(0, 0, 0, 0.52);
      flex: 1 1 auto;
    }
    .value {
      font-size: 24px;
      color: rgba(0, 0, 0, 0.72);
    }
  }

  @media screen and (max-width: $break-small) {
    flex-direction: column;

    .balance {
      flex-direction: row;
      padding: 8px 0;

      .label,
      .value {
        font-size: 18px;
      }
    }
  }
}
